/* Reset dasar untuk menghilangkan margin dan padding bawaan browser */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #000c29;
    background: linear-gradient(#18122B, #393053, #443C68);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;    
    overflow: hidden;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 500px;
    background: linear-gradient(#fef9f0, #fefaf3, #fefaf3, #fffdf9, #fffefc);
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0px 0px 75px #F8FAFC;
    text-align: center;
}

h1 { 
    display: block;
    width: 100%;
    text-align: center;
    margin: 0 auto 10px auto;
    color: #2c3641;
    text-shadow:
        0 0 5px #565e67,
        0 0 10px #80868d,
        0 0 20px #abafb3,
        0px 0px 25px #d5d7d9;
}

#filterSelect{
    color: black;
    background: #cfcfcf;
    box-shadow: 0 0px 20px #a9a9a9;
    border: none;
    transition: all 0.5s ease-in-out;;
}

#filterSelect:hover{
    color: black;
    background: #c4c4c4;
    box-shadow: 0px 0px 25px #242424;
    transition: all 0.5s ease-in-out;;
}

#FILTER {
    color: rgb(0, 0, 0);
    background: #c4c4c4;
    border: none;
}

#Completed {
    color: rgb(203, 203, 203);
    background: #767676;
    border: none;
}

#Uncompleted{
    color: rgb(249, 249, 249);
    background: #3e3e3e;
    border: none;
}

.input-section {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

input, select {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #2c3641;
    color: #c3c3c3;
    outline: none;
    box-shadow: 0px 0px 25px #ababab;
    transition: all 0.3s ease-in-out;
}

input:hover, select:hover{
    background-color: #011b36;
    box-shadow: 0px 0px 25px #000000;
    transform: scale(1.1);
}


input[type="text"]{flex: 2;}
input[type="date"]{flex: 1;}

#addBtn {
    background: radial-gradient(#280587, #75289e);
    color: #d1b4e0;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0 0px 15px #610094;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}

#addBtn:hover {
    background: radial-gradient(#75289e, #280587);
    color: rgb(202, 197, 215);
    box-shadow: 0 0px 15px #280587;
    transform: scale(1.2);
    transition: all 0.5s ease-in-out;
}

.action-buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.action-buttons select {
    background-repeat: no-repeat;
    background-position: right 10px top 50%;
    background-size: 10px auto;
}

#deleteAllBtn {
    background-color: #6366f1;
    color: #ffffff;
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    box-shadow: 0px 0px 10px rgb(0, 0, 255);
}

#deleteAllBtn:hover {
    background-color: #9E3B3B;
    color: #ffffff;
    transform: scale(0.7);
    box-shadow: 0px 0px 50px rgb(255, 0, 0);
}   

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th {
    border-bottom: 2px solid #334155;
    padding: 10px;
    font-size: 0.8rem;
    color: #000000;
}

td {
    padding: 15px 10px;
    border-bottom: 1px solid #334155;
    font-size: 0.9rem;
    color: #000000;
}

.empty-msg {
    margin-top: 20px;
    color: #696a71;
}

.status-completed {
    color: #03a940;
    font-weight: bold;
}

.status-uncompleted {
    color: #ff4040;
    font-weight: bold;
}

.btn-complete { 
    color: #03a940; 
    cursor: pointer; 
    margin-right: 10px; 
    background: none; 
    border: none; 
}

.btn-delete { 
    color: #ff4040; 
    cursor: pointer; 
    background: none; 
    border: none; }

.completed-text {
    text-decoration: line-through;
    color: #475364;
}